body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.formulario {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
}

.formulario label {
    margin-top: 10px;
}

.formulario input,
.formulario select,
.formulario textarea {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.boton {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.boton:hover {
    background-color: #0056b3;
    transition: 0.3s;
    transform: scale(1.05);
}

.resultado {
    margin-top: 20px;
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 16px;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    background-color: #aca4a4ad;
}